<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <h1>소셜 로그인</h1>

    <div class="login-buttons">
        <a href="/oauth2/authorization/google" class="btn btn-google">
            Google 로그인
        </a>

        <a href="/oauth2/authorization/github" class="btn btn-github">
            GitHub 로그인
        </a>

        <a href="/oauth2/authorization/naver" class="btn btn-naver">
            네이버 로그인
        </a>

        <a href="/oauth2/authorization/kakao" class="btn btn-kakao">
            카카오 로그인
        </a>
    </div>
</div>
</body>
</html>